@import "~materialize-css/dist/css/materialize.min.css";

.card-action .reg {
    margin-left: 20px;
}

.card-content .input-field {
    margin-top: 40px;
}

.card-content .input-field .myInput {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
    color: #ffffff !important;
}

.card-content .input-field .myInput + label {
    color: #ffffff !important;
}

.card-content .input-field .myInput:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}
.card-content .input-field .myInput:focus + label {
    color: #ffeb3b !important;
}

.nav-wrapper {
    padding-left: 20px;
    padding-right: 10px;
}